<!DOCTYPE html>
<html lang="en">
<head>
<!-- Browser Verification -->
<meta name="msvalidate.01" content="866E2ADF19A5C06CA77295424802AF66" />
<meta name="google-site-verification" content="3WoDil920dkZPz8snNVg0d3mJ9cpeWCdwMxuyuM4YSY" />
<!-- LINK PREVIEW -->
<meta name="description" content="{{ page.description | default: site.description }}">
    
<!-- CANONICAL -->
<link rel="canonical" href="{{ page.url | absolute_url }}">

<!-- OPEN GRAPH -->
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title }} | {{ site.title }}">
<meta property="og:description" content="{{ page.description}}">
<meta property="og:url" content="{{ page.url | absolute_url }}">

{% if page.cover %}
<meta property="og:image" content="{{ page.cover }}">
{% else %}
<meta property="og:image" content="https://i.postimg.cc/rmfT66kc/IMG_20250601_075706_022.jpg">
{% endif %}

<!-- TWITTER -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
<meta name="twitter:description" content="{{ page.description}}">

{% if page.cover %}
<meta name="twitter:image" content="{{ page.cover }}">
{% else %}
<meta name="twitter:image" content="https://i.postimg.cc/rmfT66kc/IMG_20250601_075706_022.jpg">
{% endif %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }} | RJ Novels</title>

<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<nav id="sidebar" class="sidebar">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/saved/' | relative_url }}">
  <i class="fa-solid fa-bookmark"></i> Saved
    </a>
    <a href="https://discord.gg/yBkWrdqgSR">Discord</a>
    <a href="https://t.me/rj_novels">Telegram</a>
    <a href="https://www.facebook.com/profile.php?id=61568112261872">Facebook</a>
</nav>

<header class="top-bar">
    <i class="fa-solid fa-bars menu-btn" onclick="openNav()"></i>
    <h1>RJ Novels</h1>
</header>

{% if page.url == "/" %}
<div class="search-box">
    <input type="text" id="searchInput" placeholder="Search novels...">
</div>

<div class="category-buttons">
    <button class="cat-btn active" data-category="all">All</button>
    <button class="cat-btn" data-category="light">Light Novels</button>
    <button class="cat-btn" data-category="web">Web Novels</button>
</div>
{% endif %}

<main>
    {{ content }}
    {% if page.collection == "novels" %}
<div class="comment-wrapper-force">
  <div class="comment-content-box">
      <div id="disqus_thread"></div>
<div class="comments">
<script>
      var disqus_config = function () {
        this.page.url = "{{ page.url | absolute_url }}";
        this.page.identifier = "{{ page.url }}";
      };

      (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://rj-novels.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>

    <noscript>
      Please enable JavaScript to view the comments.
    </noscript>
    </div>
{% endif %}
</main>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
